html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
  /* Following two rules needed for footer alignment */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 45px;
  overflow: hidden;
}

.crikey-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}
.subheading{
  font-family: 'Gentium Book Basic', serif;
  font-weight: lighter;
  font-size: 14px;
}

#map {
  height: 95%;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}

/*index*/
.titleImg {
  width:150px
}

.indexInfo button{
  background-color: #333;
  min-width:200px;
  margin-top:20px;
}

.indexInfo h1 {
  font-size: 1em;
  margin: 10px 0 5px 0;
}

.indexInfo h2 {
  font-size: 1.2em;
  margin: 10px 0 10px 0;
}

.indexInfo form{
  margin:auto;
  border:none;
  padding:0;
  background-color: transparent;
}

#indexButton{
  background-color: #333;
  min-width:200px;
  margin-top: 10px;
}

#geocomplete{
  max-width: 90%;
  margin:auto;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* mapTemplate.html */
.burger {
  position:fixed !important;
  z-index:2;
  font-size: 2.5em;
  left: 20px;
  top: 20px !important;
  color:#333;
}


.burger.right {
  left:inherit;
  right:20px;
  font-size: 3em;
  top: 10px !important;
}

.myLabel {
  color:white;
}

.add {
  position:fixed !important;
  z-index:2;
  font-size: 2.5em;
  right: 20px;
  top: 20px !important;
  color:#333;

}

.sidebar {
  text-align: left;
  font-size: 0.75em;
  background: #333;
  overflow:hidden;
  width:0;
  transition: 0.2s;
  height:100%;
  position:fixed;
  z-index: 2;

}

.sidebar.right {
  right:0px;
}

.sidebar.right.on {
  width:50%;
}

.sidebar ul {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  float: left;
  padding-left: 0;
  height: 100%;
}

.sidebar li {
  list-style-type:none;
  padding:20px;
  border-top: 1px solid #444;
  white-space: nowrap;
  font-size: 1.5em;
  text-align:left;
}

.sidebar li:last-child {
  border-bottom: 1px solid #444;
}

.sidebar li.active {
  background:#428bca;
  font:#333;
}

.sidebar li a {
  color:white;
  text-decoration: none;
  display:block;
  padding:10px;
}



.sidebar li a:hover {
  color:white;
}

.topHeader{
  font-size: 1.3em;
}

.mainMap {
  background:green;
}

.on {
  width:70%;
  border-right: 1px solid black;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:60px;
  background-color: #333;
}

.footer-nav {
  margin: 5px;
}
@import "bourbon";

.wrapper {
	margin-top: 30px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);
}
		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.indexSpacing{
  margin-bottom: 0px;
  padding-top:5%;
}

.blackBurger{
  color:black;
}

.whiteBurger{
  color:white;
}

.secondStep h3{
 margin-top:0px;

}

.bigicon {
    font-size: 25px;
    padding-top: 5px;
}

.col-md-3 {
    width: 20%;
}
