html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 95%;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}
/* mapTemplate.html */
.burger {
  position:fixed !important;
  z-index:2;
  font-size: 2.5em;
  left: 20px;
  top: 20px !important;
  color:#fff;
}

.sidebar {
  background: gray;
  overflow:hidden;
  width:0;
  transition: 0.2s;
  height:100%;
  position:fixed;
  z-index: 2;
  border-right: 1px solid black;
}

.sidebar ul {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  float: left;
  padding-left: 0;
  height: 100%;
}

.sidebar li {
  list-style-type:none;
  padding:20px;
  border-top: 1px solid black;
  white-space: nowrap;
  font-size: 2em;
}

.sidebar li:last-child {
  border-bottom: 1px solid black;
}

.sidebar li.active {
  background:teal;
}

.sidebar li a {
  color:white;
  text-decoration: none;
}
.mainMap {
  background:green;
}

.on {
  width:70%;
}

footer {
  height:45px;
  background-color: #333;
}
.footer-nav {
  margin: 5px;
}
